/* .cont-cards {
  /* margin: 0px 10px;
  margin-top: 25px;
  display: flex;
  gap: 10px;
  text-align: center; 
} */
.cont-cards .card-item {
  background-color: #f8fafc;
  border: 1px solid #d0d7de;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 16px;
  &:hover {
    transform: translateY(-10px); /* Se levanta */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.33); /* Agrega sombra */
    background-color: #e2e8f0;
    border: #007bff;
  }
}
.link-categorias {
  text-decoration: none;
  color: black;
}
